.player {
  width: 1515px;
  height: 80px;
  color: white;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: #232323;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.track {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}

.player-controls {
  display: flex;
  align-items: center;

  gap: 20px;
}

.play-pause-button {
  font-size: xx-large;
}

.next-skip-button {
  font-size: 32px;
}

.shuffle-repeat-button {
  font-size: 17px;
}

.volume {
  margin-right: 30px;
}
